@page "/"
@inject IJSRuntime js

<PageTitle>Teste</PageTitle>

<h1>Blazor Server</h1>


<br />

<h2>Gerenciamento de users e roles</h2>
<div>
    <img src="/images/icon.svg" width="400" height="200"/>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />



@code{
    protected override async Task OnAfterRenderAsync(bool firstrender)
    {
        await js.InvokeVoidAsync("console.log", ">>> testando");
    }
}