@inherits NoLayout;
@page "/Cadastrar"
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@using remedios;
@using Newtonsoft.Json;
@using Portal_Remedios.Models;
@using MudBlazor;

<style>
	.lgx-single-speaker
	{
		margin-bottom: 20px;
		border-width: 1px;
		border-style: solid;
		border-color: #ccc;
		border-image: initial;
		border-radius: 5px;
		padding: 15px;
		min-height: 250px;
		box-shadow: 1px 3px 4px 0px #297c8294;
	}
</style>



<!--
<MudPaper Height="400px" Width="100%">
    <MudContainer MaxWidth="MaxWidth.Small">
        <MudPaper Height="400px" Width="100%" Square="true" Class=""></MudPaper>
    </MudContainer>
</MudPaper>
<MudPaper Class="pa-16 ma-2" Elevation="3"></MudPaper>
-->

<div class="d-none d-lg-block d-xl-block d-xxl-block">
    <div class="container-fluid">
        <div class="row" style="margin-top:50px;">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <button type="button" style="width: 100%;">
                    <div class="lgx-single-speaker available-box aligns-items-center justify-content-center w-100">
                        <font style="place-self: center;">Cadastrar</font>
                    </div>
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <button type="button" style="width: 100%;">
                    <div class="lgx-single-speaker available-box d-flex aligns-items-center justify-content-center w-100">
                        <font style="place-self: center;">Cadastrar</font>
                    </div>
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <button type="button" style="width: 100%;">
                    <div class="lgx-single-speaker available-box d-flex aligns-items-center justify-content-center w-100">
                        <font style="place-self: center;">Cadastrar</font>
                    </div>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <button type="submit" style="width: 100%;">
                    <div class="lgx-single-speaker available-box d-flex aligns-items-center justify-content-center w-100">
                        <font style="place-self: center;">Cadastrar</font>
                    </div>
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <button type="submit" style="width: 100%;">
                    <div class="lgx-single-speaker available-box d-flex aligns-items-center justify-content-center w-100">
                        <font style="place-self: center;">Cadastrar</font>
                    </div>
                </button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <button type="submit" style="width: 100%;">
                    <div class="lgx-single-speaker available-box d-flex aligns-items-center justify-content-center w-100">
                        <font style="place-self: center;">Cadastrar</font>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
@code {

}
