@page "/index"
@layout NoLayout
<PageTitle>Portal Remedios</PageTitle>

<br />
<div class="container">
    <div class="form-medicamento">
        <center>
            <h1>Consulte aqui o seu medicamento</h1>
        </center>
        <center>
            <div class="mb-2 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Medicamento</label>
            </div>  
                <div class="mb-2 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">Pessoa</label>
            </div>
                <div class="mb-2 form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">Alguma coisa</label>
            </div>   
        </center>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
<SurveyPrompt Title="Tem algum erro no site ou uma sugestão a fazer?" />
</div>