@page "/PainelUsuario"

<h3 class="text-center">Painel Usuário</h3>
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="/users" class="text-decoration-none">
                <div style="width: 200px; height: 100px; border: 1px solid black; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <span class="oi oi-person" aria-hidden="true"></span>
                    <span style="margin-top: 10px;">Usuários</span>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/roles" class="text-decoration-none">
                <div style="width: 200px; height: 100px; border: 1px solid black; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <span class="oi oi-list" aria-hidden="true"></span>
                    <span style="margin-top: 10px;">Perfis</span>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/listuserroles" class="text-decoration-none">
                <div style="width: 200px; height: 100px; border: 1px solid black; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <span class="oi oi-list" aria-hidden="true"></span>
                    <span style="margin-top: 10px;">Perfis usuários</span>
                </div>
            </a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <a href="pagina-destino" class="text-decoration-none">
                <div style="width: 200px; height: 100px; border: 1px solid black;" class="text-center">
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="pagina-destino" class="text-decoration-none">
                <div style="width: 200px; height: 100px; border: 1px solid black;" class="text-center">
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="pagina-destino" class="text-decoration-none">
                <div style="width: 200px; height: 100px; border: 1px solid black;" class="text-center">
                </div>
            </a>
        </div>
    </div>
</div>
@code{

}